[submodule "Plugins/UnrealFastNoise"]
	path = Plugins/UnrealFastNoise
	url = https://github.com/midgen/UnrealFastNoise
[submodule "Plugins/Cashgen"]
	path = Plugins/Cashgen
	url = https://github.com/midgen/cashgenUE
[submodule "Plugins/RuntimeMeshComponent"]
	path = Plugins/RuntimeMeshComponent
	url = https://github.com/midgen/RuntimeMeshComponent
[submodule "Plugins/GOAPer"]
	path = Plugins/GOAPer
	url = https://github.com/midgen/GOAPer
[submodule "Plugins/CashUI"]
	path = Plugins/CashUI
	url = https://github.com/midgen/CashUI
[submodule "Plugins/uesvon"]
	path = Plugins/uesvon
	url = https://github.com/midgen/uesvon
